# venv 폴더 무시 C:\Users\litl\PycharmProjects\gitProject\AIPractice\venv312
venv312/

# 키 올리면 안됨
.env

# 'model/pretrained' 디렉토리 내부의 모든 파일과 폴더를 무시
store/pretrained/*
# 'model/pretrained' 디렉토리 자체는 무시하지 않음
!store/pretrained/

# 안돌아가는 파일 삭제
model/xgen